<?xml version="1.0"?>
<!--
/**
 * Copyright © Klarna Bank AB (publ)
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="kp_assign_data" instance="Klarna\Kp\Observer\AssignDataObserver" shared="false"/>
    </event>
    <event name="klarna_debug_data_collector">
        <observer name="add_kp_related_data_to_the_debug_data_collector"
                  instance="Klarna\Kp\Observer\DebugDataCollectorObserver" shared="false"/>
    </event>
</config>
